// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments {
  margin-top: 50px;
  font-size: 12px;
}

.text-show {
  border: 1px solid #aaa;
  height: 100px;
  width: 500px;
  padding: 5px;
}

.posted-on {
  font-size: 12px;
}

.add-comment {
  margin-top: 50px;
  font-size: 12px;
  text-align: top;
}
